/JavaApplication6/nbproject/private/
/JavaApplication6/build/
/Lab1/nbproject/private/
/Lab1/build/
/JavaApplication8/nbproject/private/
/JavaApplication8/build/
/Lab_4_Skeleton/nbproject/private/
/Lab_4_Skeleton/build/
